#availableOptionsSection {
  height: 170rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

#availableOptionsArticle1 {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 90%;
  height: 30%;
  margin: 0 auto;
}

.availableOptionsTextsHolder {
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.availableOptionsTextsHolder h1 {
  margin: 0;
  font-size: 2.5rem;
}

.availableOptionsTextsHolder h2 {
  font-weight: normal;
  margin: 0;
}

.availableOptionsTextsHolder p {
  margin: 0;
  font-size: 20px;
  position: absolute;
  left: 41px;
  top: 24px;
  display: none;
}

.availableOptionsTextsHolder ul {
  margin: 0;
  padding: 0;
  list-style: none;
  height: 16rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.availableOptionsTextsHolder li {
  margin: 0;
  padding: 24px 10px 24px 15px;
  width: 25rem;
  height: 24px;
  font-size: 20px;
  border-radius: 10px;
  background: linear-gradient(135deg, #b2cbff, #6e9cff);
  overflow: hidden;
  position: relative;
}

.availableOptionsTextsHolder q {
  font-size: 20px;
}

.availableOptionsTextsHolder img {
  width: 1rem;
  margin-right: 10px;
}

.availableOptionsImg {
  width: 40%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.availableOptionsImg img {
  width: 100%;
  height: 60%;
  object-fit: cover;
  border-radius: 1rem;
  border: 1px solid white;
  box-shadow: 0px 0px 20px 0px #00000069;
}

#availableOptionsArticle2 {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-evenly;
  width: 90%;
  height: 30%;
  margin: 0 auto;
}

#availableOptionsArticle3 {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 90%;
  height: 30%;
  margin: 0 auto;
}

.availableOptionsProfile {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 20rem;
}

.availableOptionsProfile img {
  height: 76px;
  width: 76px;
  object-fit: cover;
  border-radius: 50%;
  border: 2px solid #ffa16c;
}

.availableOptionsProfile div {
  width: 13rem;
  padding: 0rem 1rem 0rem 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.availableOptionsProfile p {
  font-weight: 700;
  font-size: 24px;
}

.availableOptionsProfile span {
  font-size: 14px;
}

#availableOptionsItem1 {
}
#availableOptionsItem2 {
}
#availableOptionsItem3 {
}
#availableOptionsItem4 {
}
#availableOptionsItem5 {
}
#availableOptionsItem6 {
}
#availableOptionsItem7 {
}
#availableOptionsItem8 {
}
#availableOptionsItem9 {
}
