#availableOptionsSection {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 180rem;
}

#availableOptionsArticle1 {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 90%;
  height: 30%;
  margin: 0 auto;
}

.availableOptionsTextsHolder {
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 900px;
}

#availableOptionsTextsHolder {
}

.availableOptionsTextsHolder h1 {
  margin: 0;
  font-size: 2.5rem;
}

.availableOptionsTextsHolder h2 {
  font-weight: normal;
  margin: 0;
}

.availableOptionsTextsHolder li p {
  display: block;
  position: static;
  margin-top: -25px;
  font-family: "Outfit";
  opacity: 0;
  transition: opacity 0.3s ease;
}

.availableOptionsTextsHolder li.listItemExpanded p {
  opacity: 1;
}

.liTextBlock {
  display: flex;
  flex-direction: column;
}

.liTextBlock p {
  margin: 2px 0 0 0;
  opacity: 0;
  transition: opacity 0.3s ease;
}

#textHolderParagraph {
  margin: 0;
  font-size: 20px;
  display: block;
  top: -25px;
  position: relative;
  left: 26px;
}

.availableOptionsTextsHolder ul {
  margin: 0;
  padding: 0;
  list-style: none;
  height: 25rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-end;
}

.availableOptionsTextsHolder li {
  margin: 0;
  padding: 24px 10px 24px 15px;
  width: 25rem;
  height: 24px;
  overflow: hidden;
  transition: all 0.3s ease;
  cursor: pointer;
  font-size: 20px;
  border-radius: 10px;
  background: linear-gradient(135deg, #b2cbff, #6e9cff);
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: baseline;
}

.availableOptionsTextsHolder li:hover {
  box-shadow: 0px 0px 0px 2px #ffffff;
}

.availableOptionsTextsHolder q {
  font-size: 20px;
}

.availableOptionsTextsHolder img {
  width: 1rem;
  margin-right: 10px;
}

.availableOptionsImg {
  width: 40%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.availableOptionsImg img {
  width: 100%;
  height: 60%;
  object-fit: cover;
  border-radius: 1rem;
  border: 1px solid white;
  box-shadow: 0px 0px 20px 0px #00000069;
}

#availableOptionsArticle1 .availableOptionsTextsHolder ul {
  align-items: flex-start;
}

#availableOptionsArticle2 {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-evenly;
  width: 90%;
  height: 30%;
  margin: 0 auto;
}

#availableOptionsArticle2 .availableOptionsProfile {
  flex-direction: row-reverse;
  align-self: flex-end;
}
.availableOptionsTextsHolder #availableOptionsArticle2 h1 {
  text-align: right;
}

#availableOptionsArticle2 h2 {
  text-align: right;
}

#availableOptionsArticle2 q {
  text-align: right;
}

#availableOptionsArticle3 {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 90%;
  height: 30%;
  margin: 0 auto;
}

#availableOptionsArticle3 .availableOptionsTextsHolder ul {
  align-items: flex-start;
}

#availableOptionsArticle2 h1 {
  text-align: right;
}

.availableOptionsProfile {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 21rem;
  height: 6.5rem;
  align-items: center;
  border: 1px solid white;
  border-radius: 1rem;
  background: #ffffff80;
  box-shadow: 0px 3px 6px 0px #0000005c;
}

.availableOptionsProfile img {
  height: 76px;
  width: 76px;
  object-fit: cover;
  border-radius: 50%;
  border: 2px solid #ffa16c;
  margin: unset;
}

.availableOptionsProfile div {
  width: 12rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.availableOptionsProfile p {
  font-weight: 700;
  font-size: 24px;
  margin: 0;
}

.availableOptionsProfile span {
  font-size: 14px;
  margin-bottom: 3px;
}

.availableOptionsTextsHolder li.listItemExpanded {
  height: auto;
}
