#dealsSection {
  height: 60rem;
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 10rem;
}

#dealsSectionTitles {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: Outfit;
}

#dealsSectionTitles h1 {
  font-size: 3rem;
}

#dealsSectionTitles h2 {
  color: #484848;
  margin: 0 0 3rem 0;
  width: 28rem;
  text-align: center;
}

#dealsSectionTitles span {
  color: black;
  transition: all 0.3s;
  text-shadow:
    -1px -1px 0px transparent,
    1px -1px transparent,
    -1px 1px transparent,
    1px 1px transparent;
}

#dealsSectionTitles span:hover {
  color: white;
  text-shadow:
    -1px -1px 0px black,
    1px -1px black,
    -1px 1px black,
    1px 1px black;
}

#dealsList {
  display: flex;
  height: 60%;
  justify-content: space-evenly;
  align-items: center;
  width: 90%;
  padding: 0;
}

.dealsListItem {
  background: linear-gradient(135deg, #9ab9ff, #256aff);
  height: 616px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 25%;
  border-radius: 2rem;
  overflow: hidden;
  border: 1px solid #ffffff;
  box-shadow: 0px 0px 13px -3px #256aff;
  padding: 1rem;
  max-width: 316px;
}

.dealsListItem img {
  height: 3rem;
}

.dealsTitle {
  height: 5rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.dealsTitle h2 {
  margin: 0;
  font-size: 32px;
}

.dealsTitle p {
  margin: 0;
  color: #ffffff;
  text-shadow: -1px 1px 2px #000000;
}

.dealsPriceHolder {
  display: flex;
  width: 85%;
  justify-content: space-evenly;
  align-items: center;
}

.dealsPriceBtnHolder {
  position: relative;
}

.dealsPrice {
  font-size: 2.5rem;
  margin: 0;
  width: 5rem;
  text-align: center;
}

.dealsPriceBtnBg {
  position: absolute;
  width: 128px;
  height: 2.5rem;
  background: white;
  border-radius: 8px;
  top: 3px;
  right: 0px;
  z-index: 0;
}

.dealsPriceBtn {
  background: linear-gradient(135deg, #ffa46d, #ff5f50);
  border-radius: 8px;
  font-size: 20px;
  color: white;
  font-family: Outfit;
  width: 8rem;
  height: 2.5rem;
  border: none;
  transition: all 0.2s;
  z-index: 1;
  position: relative;
  padding: 0;
}

.dealsPriceBtn:hover {
  transform: translateY(3px);
  cursor: pointer;
}

.dealsFeaturesList {
  height: 16rem;
  align-self: flex-start;
  padding-left: 1rem;
  width: 95%;
}

.dealsFeaturesList li {
  display: flex;
  align-items: center;
  margin-top: 8px;
  justify-content: space-between;
  text-align: left;
}

.dealsFeaturesList li p {
  margin: 0;
  width: 90%;
}

.dealsFeaturesList li::before {
  content: "";
  display: inline-block;
  width: 16px;
  height: 16px;
  background-image: url("../assets/listTick.png");
  background-size: contain;
  background-repeat: no-repeat;
  flex-shrink: 0;
}
