#footerSection {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 25rem;
  height: 34rem;
  align-items: center;
  position: relative;
  padding: 0rem 7rem 0rem 7rem;
  border-top: 1px solid #babcbf;
}

#footerSection ul {
  list-style: none;
  padding: 0;
  display: flex;
  height: 18rem;
  width: 10rem;
  flex-direction: column;
}

#footerSection ul li {
  margin-bottom: 1rem;
  width: fit-content;
}

#footerSection h2 {
  display: inline;
  font-size: 2rem;
  font-weight: 500;
}

#footerSection a {
  text-decoration: none;
  color: black;
  transition: all 1s;
  position: relative;
}

#footerSection a::after {
  content: "";
  display: block;
  position: absolute;
  background: black;
  height: 2px;
  width: 100%;
  transform: scaleX(0);
  bottom: 0;
  left: 0;
  transform-origin: bottom right;
  transition: transform 0.3s ease-out;
}

#footerSection a:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

#footerSection p {
  font-size: 20px;
  width: 97%;
}

#footerLogo {
  width: 36px;
  height: 36px;
  margin: 0px 0px -6px 8px;
}

#footerTitleHolder {
  height: 20rem;
  width: 320px;
}

#footerListsHolder {
  height: 20rem;
  width: 550px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  position: relative;
}

.footerLists {
  height: 100%;
}

.footerLists h3 {
  margin: 0;
}

#footerSection #footerSocial {
  align-items: end;
  width: 2rem;
  justify-content: center;
}

#wavesFooter {
  position: absolute;
  left: -56px;
  bottom: -170px;
  transform: rotate(360deg);
}
