nav {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 3rem;
  align-items: flex-end;
  padding: 0px 0px 20px 0;
  border-bottom: 1px solid #00000040;
  position: fixed;
  top: 0;
  z-index: 2;
}

#logoHolder {
  margin-left: 72px;
  margin-bottom: -6px;
  width: 12rem;
  text-align: center;
}

#logoHolder img {
  width: 36px;
  height: 36px;
  margin-bottom: -8px;
}

#logoHolder a {
  text-decoration: none;
  color: black;
  font-size: 2rem;
  font-weight: 500;
  transition: all 0.5s;
}

#logoHolder a:hover {
  font-weight: bold;
  color: #484848;
}

#navListHolder {
  width: 30rem;
  margin-right: 5%;
}

#navListHolder ul {
  display: flex;
  justify-content: space-between;
  padding-right: 10px;
  margin: 0;
  list-style: none;
}

#navListHolder li {
  text-align: center;
}

#navListHolder a {
  text-decoration: none;
  transition: all 0.5s;
  font-size: 18px;
  color: black;
}

#navListHolder a:hover {
  font-weight: bold;
  color: #484848;
}

#navListHolder #lastNavEl {
  border-right: none;
}

#navBtn {
  background: linear-gradient(135deg, #6d9bff, #2168ff);
  padding: 6px 12px 6px 12px;
  border-radius: 8px;
}

.navBtnStart {
  border: 1px solid white;
}

#tscLogoutBtn {
  background: linear-gradient(135deg, #6d9bff, #2168ff);
  padding: 6px 12px 6px 12px;
  border-radius: 8px;
  text-decoration: none;
  transition: all 0.5s;
  font-size: 18px;
  color: black;
}

#tscLogoutBtn:hover {
  font-weight: bold;
  color: black;
  background: linear-gradient(135deg, #2168ff, #6d9bff);
}

#navListHolder #navBtn:hover {
  font-weight: bold;
  color: black;
  background: linear-gradient(135deg, #2168ff, #6d9bff);
}

.burgBtnIconHolder {
  width: 39px;
  display: flex;
  margin: 0 72px 2px 0;
  flex-direction: column;
  height: 20px;
  justify-content: space-between;
  align-items: center;
  position: relative;
  z-index: 1;
}

.span1BurgBtn {
  background-color: #2168ff;
  width: 40px;
  height: 6px;
  transition: all 0.3s;
}

.span2BurgBtn {
  background-color: #2168ff;
  width: 40px;
  height: 6px;
  transition: all 0.3s;
}

.burgBtnIconHolderHovered {
  height: 52px;
  margin: 0 72px -14px 0;
}

.span1BurgBtnHovered {
  background-color: #ffffff00;
  height: 39px;
  border: 5px solid #00000000;
  border-radius: 50%;
  border-top-color: #2168ff;
  border-left-color: #2168ff;
  transform: rotate(45deg);
  position: absolute;
}

.span2BurgBtnHovered {
  background-color: #ffffff00;
  height: 39px;
  border: 5px solid #00000000;
  border-radius: 50%;
  border-top-color: #2168ff;
  border-left-color: #2168ff;
  transform: rotate(225deg);
  position: absolute;
}

#halfCircleMenu {
  position: absolute;
  background: linear-gradient(45deg, #2a6ef9, #99bbfe);
  border-bottom-left-radius: 100%;
  height: 30rem;
  width: 30rem;
  top: 0px;
  right: 0px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid white;
  border-left: 1px solid white;
}

#halfCircleMenu ul {
  height: 28rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  list-style: none;
  border-bottom-left-radius: 100%;
  transition: all 0.3s;
}

#halfCircleMenuList a {
  text-decoration: none;
  color: black;
  font-size: 1.2rem;
}

#halfCircleMenuList li:nth-child(1) {
  transition: all 0.3s;
  margin-left: 3rem;
}

#halfCircleMenuList li:nth-child(1):hover {
  scale: 1.1;
  margin-left: 4rem;
}

#halfCircleMenuList li:nth-child(2) {
  transition: all 0.3s;
  margin-left: 6rem;
}

#halfCircleMenuList li:nth-child(2):hover {
  scale: 1.1;
  margin-left: 7rem;
}

#halfCircleMenuList li:nth-child(3) {
  transition: all 0.3s;
  margin-left: 9rem;
}

#halfCircleMenuList li:nth-child(3):hover {
  scale: 1.1;
  margin-left: 9.6rem;
}

#halfCircleMenuList li:nth-child(4) {
  transition: all 0.3s;
  margin-left: 13rem;
}

.halfCircleLogOut {
  border: 2px solid white;
}

#halfCircleMenuList li:nth-child(4):hover {
  scale: 1.1;
  margin-left: 13.4rem;
}

#halfCircleMenuList button:nth-child(5) {
  transition: all 0.3s;
  margin-left: 19rem;
  scale: 1.3;
}
