@import url(AvailableOptions.css);
@import url(Deals.css);
@import url(Features.css);
@import url(Footer.css);
@import url(Intro.css);
@import url(MainHeader.css);
@import url(Showcase.css);
@import url(Landing.css);

@media (max-width: 1250px) {
  /*#####################################################################
  ####################### FOOTER ################################
  #####################################################################*/

  #root #footerSection {
    margin-top: 10rem;
    padding: 0rem 3rem 0rem 3rem;
  }

  #root #footerSection #footerSocial {
    position: absolute;
    width: 85%;
    flex-direction: row;
    height: 24rem;
    justify-content: space-between;
    z-index: -1;
  }

  #footerSection #footerListsHolder {
    width: 480px;
    flex-direction: row-reverse;
  }

  #footerListsHolder .footerLists h3 {
    text-align: right;
  }

  #root #footerSection ul {
    align-items: flex-end;
  }

  /*#####################################################################
  ####################### LANDING PAGE ################################
  #####################################################################*/

  #landingImg #landingBunny {
    min-width: 330px;
    margin: -16px 0 0 0;
    height: 330px;
    object-fit: cover;
  }
  #landing {
    position: relative;
  }

  #landing #landingHeading {
    width: 45%;
  }

  #landingImg {
    width: 50%;
    position: absolute;
    right: 3%;
  }

  #landing #landingHeading ul {
    position: absolute;
    width: 100%;
    bottom: -100px;
    left: 0;
  }

  #introSection #bunnsHolder li {
    width: 10rem;
    height: 20rem;
  }

  #introSection .bunnsHolderImg {
    width: 9rem;
    height: 10rem;
  }

  #featuresSection .img1 {
    width: 85%;
    min-width: 300px;
  }

  #dealsSection h1 {
    text-align: center;
  }

  #dealsSection #dealsList {
    width: 98%;
  }

  #dealsSection .dealsListItem {
    min-width: 200px;
    height: 650px;
  }

  #dealsSection .dealsPriceHolder {
    flex-direction: column;
  }

  #showcaseSection #showcaseSectionGallery {
    width: 80%;
  }

  #showcaseSection #showcaseSectionGallery img {
    width: 99%;
  }

  #availableOptionsSection .availableOptionsTextsHolder {
    justify-content: space-between;
    height: 650px;
  }

  #availableOptionsSection #availableOptionsArticle1 {
    position: relative;
    height: 25%;
    justify-content: space-between;
    width: 90%;
  }

  #availableOptionsArticle1 .availableOptionsImg {
    justify-content: flex-start;
    margin-top: 146px;
  }

  #availableOptionsArticle1 .availableOptionsTextsHolder h2 {
    position: absolute;
    top: 4px;
    right: 0;
    width: 40%;
    text-align: right;
    font-size: 20px;
  }

  #availableOptionsArticle1 .availableOptionsTextsHolder q {
    position: absolute;
    bottom: 60px;
    right: 0;
    width: 40%;
    text-align: right;
    font-size: 18px;
  }

  .availableOptionsTextsHolder li p {
    font-size: 16px;
  }

  .availableOptionsTextsHolder li span {
    font-size: 16px;
    margin-bottom: 5px;
  }

  #availableOptionsSection .availableOptionsTextsHolder li {
    width: 314px;
  }

  #availableOptionsSection #availableOptionsArticle2 {
    position: relative;
    height: 25%;
    justify-content: space-between;
    width: 90%;
  }

  #availableOptionsArticle2 .availableOptionsTextsHolder h2 {
    position: absolute;
    top: 4px;
    left: 0;
    width: 40%;
    text-align: left;
    font-size: 20px;
  }

  #availableOptionsArticle2 .availableOptionsImg {
    justify-content: flex-start;
    margin-top: 146px;
  }

  #availableOptionsArticle2 .availableOptionsTextsHolder q {
    position: absolute;
    bottom: 60px;
    left: 0;
    width: 40%;
    text-align: left;
    font-size: 18px;
  }

  #availableOptionsSection #availableOptionsArticle3 {
    position: relative;
    height: 25%;
    justify-content: space-between;
    width: 90%;
  }

  #availableOptionsArticle3 .availableOptionsTextsHolder h2 {
    position: absolute;
    top: 4px;
    right: 0;
    width: 40%;
    text-align: right;
    font-size: 20px;
  }

  #availableOptionsArticle3 .availableOptionsImg {
    justify-content: flex-start;
    margin-top: 146px;
  }

  #availableOptionsArticle3 .availableOptionsTextsHolder q {
    position: absolute;
    bottom: 60px;
    right: 0;
    width: 40%;
    text-align: right;
    font-size: 18px;
  }

  /*#####################################################################
  ####################### FEATURES PAGE ################################
  #####################################################################*/

  #featuresPageSection #featuresPageTitleHolder h1 {
    font-size: 2.5rem;
    width: 46rem;
  }

  #featuresPageSection #featuresPageImagesHolder ul {
    width: 100%;
  }

  #featuresPageSection #carouselHolder .wavesFeaturesPage1 {
    top: 133%;
  }

  #featuresPageSection #carouselHolder .wavesFeaturesPage2 {
    bottom: -105%;
  }

  /*#####################################################################
  ####################### DEALS PAGE ################################
  #####################################################################*/

  #dealsSection #dealsSectionTitles h1 {
    font-size: 2.5rem;
  }

  #root #dealsSection {
    margin-bottom: 3rem;
  }

  #dealsTableSection #dealsPageStartNow {
    margin: 100px 0 -90px 0;
  }

  #dealsComparisonHolder .tablesDealsPage tr {
    padding-left: 8px;
  }

  #dealsNamesHolder .dealsNames {
    width: 24%;
  }

  /*#####################################################################
  ####################### SUPPORT PAGE ################################
  #####################################################################*/

  #root #availableOptionsTitleHolder img {
    width: 25rem;
    top: 180px;
  }

  #root #availableOptionsTitleHolder h2 {
    font-size: 9rem;
  }

  #root #startNowSection {
    margin-bottom: -160px;
    padding-right: 1rem;
  }

  #root #startNowSection form {
    width: 40%;
  }

  /*#####################################################################
  ####################### START NOW PAGE ################################
  #####################################################################*/

  #startNowSection #startNowLeftside {
    transform: skewX(15deg);
    left: -7rem;
    width: 60%;
  }

  #startNowLeftside #startNowDescriptionHolder {
    transform: skewX(345deg);
  }

  #startNowSection #startNowFillOut {
    width: 18rem;
  }
  #startNowSection #startNowTerms {
    position: relative;
    left: 134px;
  }

  #startNowLeftside #startNowDescriptionHolder p {
    width: 50%;
  }

  /*#####################################################################
  ####################### APP PAGE ################################
  #####################################################################*/

  #root #tscAppSection {
    margin-bottom: -160px;
  }

  #tscAppSection #tscAppLayout {
    margin-bottom: 0;
  }

  #tscTaskElementListHolder #tscTaskElementListHolder li {
    margin: auto;
    width: 85%;
  }

  #tscForm #tscDIRholder {
    width: 330px;
  }

  #tscDIRholder #tscDIRholderFirstDate {
    height: fit-content;
    flex-direction: column;
    align-items: flex-start;
  }

  #tscDIRholder #tscDIRholderReminder {
    height: fit-content;
    flex-direction: column;
    align-items: flex-start;
  }

  #tscDIRholderFirstDate .tscDIRholderFirstDateImg {
    position: absolute;
    top: 2px;
    left: 36px;
  }

  #tscDIRholder .tscChosenDate {
    margin: 8px 0 0 0;
  }

  #tscDIRholderReminder .tscDIRholderFirstDateImg {
    top: 2px;
  }

  #tscDIRholder #tscDIRholderImportant {
    margin-bottom: 8px;
  }

  #tscForm #tscSubmitBtn {
    margin-bottom: 4px;
  }
}

@media (max-width: 750px) {
  nav #logoHolder {
    margin-left: 20px;
  }

  nav .burgBtnIconHolder {
    margin-right: 20px;
  }

  #root #landing {
    justify-content: center;
    margin: 68px 0 0 0;
    height: 45rem;
    width: 100%;
  }

  #root #landing #landingHeading {
    top: 11px;
    position: relative;
    justify-content: space-around;
    align-items: center;
    width: unset;
    height: 40rem;
  }

  #landing #landingHeading h3 {
    font-size: 22px;
    color: #000000;
    background: #2b6ffa69;
    padding: 10px;
    border-radius: 8px;
    text-align: center;
    width: 75%;
    margin: 0;
  }

  #landing #landingHeading h1 {
    margin: 0;
    font-size: 5rem;
    text-align: center;
  }

  #landing #landingImg {
    top: 0;
    right: 0;
    width: 100%;
    height: 45rem;
    z-index: -1;
    opacity: 0.67;
  }

  #landingImg #landingBunny {
    height: 100%;
    border-radius: 0;
    margin: 0;
    filter: blur(2px);
  }

  #landing #landingHeading ul {
    position: relative;
    width: 90%;
    bottom: unset;
  }

  nav .halfCircleMenu {
    border-bottom-left-radius: 0;
    height: 100vh;
    width: 60%;
    box-shadow: -20px 0px 20px 300px #00000091;
  }

  #halfCircleMenuList {
    align-items: center;
    padding: 0;
  }

  .halfCircleMenu #halfCircleMenuList li:nth-child(1) {
    margin: 0;
  }

  .halfCircleMenu #halfCircleMenuList li:nth-child(1):hover {
    margin: 0;
  }

  .halfCircleMenu #halfCircleMenuList li:nth-child(2) {
    margin: 0;
  }

  .halfCircleMenu #halfCircleMenuList li:nth-child(2):hover {
    margin: 0;
  }

  .halfCircleMenu #halfCircleMenuList li:nth-child(3) {
    margin: 0;
  }

  .halfCircleMenu #halfCircleMenuList li:nth-child(3):hover {
    margin: 0;
  }

  .halfCircleMenu #halfCircleMenuList li:nth-child(4) {
    margin: 0;
  }

  .halfCircleMenu #halfCircleMenuList li:nth-child(4):hover {
    margin: 0;
    scale: 1.1;
  }

  .halfCircleMenu #halfCircleMenuList button:nth-child(5) {
    margin: 0;
  }

  .halfCircleMenu #halfCircleMenuList button:nth-child(5):hover {
    margin: 0;
  }

  #root .wavesLanding {
    scale: 5;
  }

  #root #wavesLanding1 {
    bottom: -10rem;
  }

  #root #wavesLanding2 {
    bottom: -15rem;
  }

  #root #wavesLanding3 {
    bottom: -20rem;
  }

  #wavesIntroHolder .wavesIntro {
    scale: 5;
  }

  #wavesIntroHolder #wavesIntro1 {
    top: 20rem;
  }

  #wavesIntroHolder #wavesIntro2 {
    top: 25rem;
  }

  #wavesIntroHolder #wavesIntro3 {
    top: 30rem;
  }

  #introSection #bunnsHolder {
    flex-direction: column;
    height: 120%;
    position: relative;
    top: -123px;
  }

  #introSection #bunnsHolder p {
    height: 2rem;
    width: 100%;
  }

  #introSection #bunnsHolder h3 {
    margin: 8px 0 8px 0;
  }

  #bunnsHolderItem4 p {
    text-align: right;
  }

  #bunnsHolder #bunnsHolderItem4 h3 {
    text-align: right;
  }

  #introSection #bunnsHolder li {
    width: 75%;
    position: relative;
  }

  #introSection #bunnsHolder #bunnsHolderItem1 {
    top: -64px;
    left: -30px;
    padding: 12px 16px 12px 53px;
  }

  #introSection #bunnsHolder #bunnsHolderItem2 {
    top: -22px;
    right: -30px;
    padding: 12px 52px 12px 16px;
  }

  #bunnsHolder #bunnsHolderItem2 p {
    text-align: right;
  }

  #bunnsHolder #bunnsHolderItem2 h3 {
    text-align: right;
  }

  #introSection #bunnsHolder #bunnsHolderItem3 {
    top: 26px;
    left: -30px;
    padding: 12px 16px 12px 53px;
  }

  #introSection #bunnsHolder #bunnsHolderItem4 {
    bottom: -75px;
    right: -30px;
    padding: 12px 52px 12px 16px;
  }

  #root #introSection .bunnsHolderImg {
    height: 158px;
    width: 70%;
  }

  #bunnsHolderItem2 .bunnsHolderImg {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #9cbcfb;
  }

  #root #featuresSection {
    height: 1702px;
  }

  #featuresSection #featuresInfoHolder {
    position: relative;
    width: 90%;
    height: 93%;
    align-items: center;
    max-width: none;
  }

  #featuresInfoHolder .featuresInfo {
    position: absolute;
    width: 222%;
    max-width: 610px;
  }

  #featuresInfoHolder .featuresInfo:nth-child(1) {
    top: 10px;
    width: 100%;
    background: #ffffffba;
    padding: 24px;
    height: fit-content;
    color: black;
    border-radius: 1rem;
    scale: 0.9;
  }

  #featuresInfoHolder .featuresInfo:nth-child(2) {
    /* top: 503px; */
    width: 100%;
    background: #ffffffba;
    padding: 24px;
    height: fit-content;
    color: black;
    border-radius: 1rem;
    scale: 0.9;
  }

  #featuresInfoHolder .featuresInfo:nth-child(3) {
    bottom: 25px;
    width: 100%;
    background: #ffffffba;
    padding: 24px;
    height: fit-content;
    color: black;
    border-radius: 1rem;
    scale: 0.9;
  }

  #featuresSection #featuresImagesHolder {
    position: absolute;
    z-index: -1;
    opacity: 0.5;
    width: 760px;
    height: 171%;
    top: 2195px;
  }

  #featuresInfoHolder .featuresInfo p {
    font-size: 19px;
  }

  #dealsSection #dealsSectionTitles h1 {
    font-size: 2rem;
    max-width: 450px;
  }

  #dealsSection #dealsSectionTitles h2 {
    font-size: 20px;
    width: 90%;
    min-width: 299px;
    max-width: 500px;
  }

  #root #dealsSection {
    height: 110rem;
    justify-content: space-between;
  }

  #root #dealsSection #dealsList {
    height: 90%;
    flex-direction: column;
    justify-content: space-between;
  }

  #root #dealsSection {
    height: 130rem;
    justify-content: space-between;
    flex-direction: column;
  }

  #dealsSection .dealsListItem {
    height: 550px;
    width: 80%;
  }

  #root #showcaseSection {
    height: fit-content;
  }

  #showcaseSection #showcaseSectionTitleHolder {
    width: 90%;
    margin: 0% 5% 0% 5%;
  }

  body #showcaseSectionTitleHolder h1 {
    text-align: center;
  }

  #showcaseSection #showcaseSectionGallery {
    width: 95%;
    height: 19rem;
  }

  #showcaseSection #showcaseSectionGallery img {
    height: 300px;
  }

  #root #availableOptionsSection #availableOptionsArticle1 {
    height: 1000px;
  }

  #root #availableOptionsSection .availableOptionsTextsHolder {
    height: 100%;
    width: 48%;
  }

  #availableOptionsArticle1 .availableOptionsTextsHolder h2 {
    width: 42%;
    font-size: calc(12px + 1.5vw);
    top: 5px;
  }

  #availableOptionsSection
    #availableOptionsArticle1
    .availableOptionsTextsHolder
    ul {
    position: absolute;
    width: 100%;
    bottom: 120px;
    height: 360px;
    margin-left: -1%;
  }

  #availableOptionsArticle1 .availableOptionsTextsHolder h1 {
    font-size: calc(20px + 1.5vw);
    max-width: 16rem;
  }

  #root #availableOptionsSection .availableOptionsTextsHolder li {
    width: 94%;
    max-width: 635px;
    margin: 0 0 0 auto;
  }

  #availableOptionsArticle1 .availableOptionsImg img {
    position: absolute;
    height: 10rem;
    left: 0;
    top: 180px;
  }

  #availableOptionsSection
    #availableOptionsArticle1
    .availableOptionsTextsHolder
    q {
    left: 50%;
    top: 442px;
    transform: translate(-50%, -50%);
    width: 100%;
    text-align: center;
    bottom: unset;
    max-width: 430px;
  }

  .availableOptionsTextsHolder .availableOptionsProfile {
    width: 16rem;
  }

  .availableOptionsTextsHolder .availableOptionsProfile div {
    width: 8rem;
  }

  #availableOptionsSection {
    height: 3300px;
    justify-content: space-evenly;
  }

  #availableOptionsSection #availableOptionsArticle2 {
    height: 1000px;
  }

  #availableOptionsArticle2 .availableOptionsTextsHolder h1 {
    font-size: calc(20px + 1.5vw);
    min-width: 141px;
    max-width: 207px;
    align-self: flex-end;
  }

  #availableOptionsArticle2 .availableOptionsTextsHolder h2 {
    width: 42%;
    font-size: calc(12px + 1.5vw);
    top: 5px;
  }

  #availableOptionsSection
    #availableOptionsArticle2
    .availableOptionsTextsHolder
    ul {
    position: absolute;
    width: 100%;
    bottom: 120px;
    height: 360px;
    margin-left: -53%;
  }

  #availableOptionsArticle2 .availableOptionsImg img {
    position: absolute;
    height: 10rem;
    left: 0;
    top: 180px;
  }

  #availableOptionsSection
    #availableOptionsArticle2
    .availableOptionsTextsHolder
    q {
    left: 50%;
    top: 442px;
    transform: translate(-50%, -50%);
    width: 100%;
    text-align: center;
    bottom: unset;
    max-width: 430px;
  }

  #root #availableOptionsSection #availableOptionsArticle3 {
    height: 1000px;
  }

  #availableOptionsArticle3 .availableOptionsTextsHolder h1 {
    font-size: calc(20px + 1.5vw);
    max-width: 16rem;
  }

  #availableOptionsArticle3 .availableOptionsTextsHolder h2 {
    width: 42%;
    font-size: calc(12px + 1.5vw);
    top: 5px;
  }

  #availableOptionsSection
    #availableOptionsArticle3
    .availableOptionsTextsHolder
    ul {
    position: absolute;
    width: 100%;
    bottom: 120px;
    height: 360px;
    margin-left: -1%;
  }

  #availableOptionsSection
    #availableOptionsArticle3
    .availableOptionsTextsHolder
    q {
    left: 50%;
    top: 442px;
    transform: translate(-50%, -50%);
    width: 100%;
    text-align: center;
    bottom: unset;
    max-width: 430px;
  }

  #availableOptionsArticle3 .availableOptionsImg {
    justify-content: flex-start;
    margin-top: 146px;
  }

  #availableOptionsArticle3 .availableOptionsImg img {
    position: absolute;
    height: 10rem;
    left: 0;
    top: 180px;
  }

  #root #footerSection {
    justify-content: center;
    min-height: 45rem;
    height: fit-content;
    flex-direction: column;
  }

  #footerSection #footerTitleHolder p {
    width: unset;
    max-width: 500px;
    margin: 0 auto;
  }

  #footerSection #footerTitleHolder {
    width: 100%;
    position: relative;
    text-align: center;
    top: 24px;
    height: 10rem;
  }

  #root #footerSection #footerSocial {
    align-items: flex-end;
    bottom: -60px;
  }

  #footerSection #wavesFooter {
    bottom: -120px;
  }

  #root #footerSection #footerListsHolder {
    height: fit-content;
    width: 90%;
    justify-content: space-evenly;
    align-items: flex-end;
    flex-wrap: wrap;
    position: relative;
    min-width: 320px;
  }

  #footerListsHolder .footerLists {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 8rem;
  }

  #root #footerSection ul {
    align-items: center;
  }

  #footerListsHolder .footerLists:nth-child(3) {
    height: 18rem;
    margin-bottom: 56px;
  }

  #root #featuresPageSection {
    height: 1700px;
  }

  #featuresPageSection #featuresPageTitleHolder h1 {
    width: 90%;
    font-size: calc(20px + 2vw);
  }

  #featuresPageTitleHolder h3 {
    width: 90%;
  }

  #featuresPageSection #featuresPageImagesHolder ul {
    flex-wrap: wrap;
    height: 100%;
    width: 60%;
  }

  #featuresPageSection #featuresPageImagesHolder li {
    height: 11rem;
    margin: 1rem;
  }

  #featuresPageSection #featuresPageImagesHolder {
    height: 860px;
    width: 95%;
    margin: 0 auto;
  }

  #featuresPageSection #carouselHolder .wavesFeaturesPage1 {
    top: 153%;
    width: 750px;
  }

  #featuresPageSection #carouselHolder .wavesFeaturesPage2 {
    bottom: -120%;
    width: 750px;
  }

  #dealsTableSection #tableHolder {
    width: 100%;
    border: none;
  }

  #dealsNamesHolder .dealsNames h3 {
    font-size: 18px;
  }

  .dealsNames .dealsPrices p {
    font-size: 26px;
  }

  .dealsNames .dealsPrices span {
    font-size: 14px;
  }

  #tableHolder #dealsComparisonHolder {
    height: 1428px;
  }

  #dealsNamesHolder .dealsNames {
    width: 33%;
  }

  .dealsNames .dealsPrices {
    align-items: flex-start;
    flex-direction: column;
  }

  .dealsNames .dealsPrices span {
    width: 5rem;
  }

  .tablesDealsPage td {
    width: 21%;
  }

  #dealsTableSection #dealsPageStartNow h2 {
    font-size: 30px;
    width: 85%;
  }

  #dealsTableSection #dealsPageStartNow {
    margin: 55px 0 -90px 0;
  }

  #dealsTableSection #dealsPageStartNow p {
    text-align: center;
    width: 95%;
  }

  #startNowSection #startNowLeftside {
    transform: skewX(0deg);
    left: 0;
    width: 100%;
  }

  #startNowLeftside #startNowDescriptionHolder {
    transform: skewX(0deg);
    left: unset;
    width: fit-content;
    justify-content: center;
  }

  #root #startNowSection {
    margin-bottom: -110px;
    padding-right: unset;
    flex-direction: column;
  }

  #startNowLeftside #startNowDescriptionHolder p {
    width: 85%;
    font-size: 20px;
    text-align: center;
    max-width: 520px;
  }

  #tscAppSection #tscLeftsideHolder {
    position: fixed;
    right: 0;
    width: 60%;
    display: flex;
    justify-content: center;
    bottom: 52px;
    z-index: 2;
  }

  #tscLeftsideHolder #tscSettingsHolder {
    display: none;
  }

  #tscAppSection #tscLeftsideHolder #tscAppSidebar {
    background: #ffffff00;
    border-right: none;
    left: 0;
  }

  #tscLeftsideHolder #tscAppSidebar menu li {
    background-color: #00000000;
    font-size: 18px;
  }

  #tscAppSidebar .tscAppSideLinks {
    width: 110px;
    padding-left: 0px;
    text-align: center;
  }

  #tscLeftsideHolder #tscAppSidebar menu div {
    width: 60px;
    display: flex;
    justify-content: flex-end;
  }
}
