#availableOptionsTitleHolder {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 760px;
  margin-top: 68px;
  position: relative;
  justify-content: center;
}

#availableOptionsTitleHolder h2 {
  position: relative;
  z-index: 1;
  font-size: 12rem;
  text-align: center;
}

#availableOptionsTitleHolder img {
  position: absolute;
  filter: drop-shadow(0px 0px 2px black) blur(3px)
    brightness(1.2);
  width: 31rem;
  top: 140px;
}
