#featuresPageSection {
  display: flex;
  margin-top: 15rem;
  margin-bottom: 20rem;
  flex-direction: column;
  height: 1540px;
  justify-content: space-between;
}

#featuresPageTitleHolder {
  height: 16rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

#featuresPageTitleHolder h1 {
  text-align: center;
  font-size: 3rem;
  width: 49rem;
  margin: 0;
}

#featuresPageTitleHolder h3 {
  text-align: center;
  font-size: 1.5rem;
  color: #4f4f4f;
  margin: -5px 0 33px 0;
}

#featuresPageImagesHolder {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 440px;
}

#featuresPageImagesHolder h2 {
  font-size: 2rem;
  font-weight: 400;
  margin: 0 0 24px 0px;
  width: 35rem;
  text-align: center;
}

#featuresPageImagesHolder ul {
  list-style: none;
  padding: 0;
  display: flex;
  width: 80%;
  height: 20rem;
  justify-content: space-around;
  max-width: 900px;
}

#featuresPageImagesHolder li {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: linear-gradient(135deg, #6d9bff, #2168ff);
  width: 9rem;
  transition: all 0.3s;
  border-radius: 1rem;
  border: 2px solid rgba(255, 255, 255, 0);
  box-shadow: 0px 4px 7px 0px #00000066;
  padding: 2rem;
}

#featuresPageImagesHolder li p {
  text-align: center;
}

#featuresPageImagesHolder li:hover {
  filter: brightness(1.2);
  border: 2px solid white;
  box-shadow: 0px 4px 7px 5px #00000040;
  color: white;
}

.invertFeaturesIcon {
  filter: invert(1);
  transition: all 0.3s;
}

#featuresPageImagesHolder li:hover .invertFeaturesIcon {
  filter: invert(0);
}

#invertFeaturesIcon1 {
  transition: all 0.3s;
}

#featuresPageImagesHolder li:hover #invertFeaturesIcon1 {
  filter: invert(1);
}

#featuresPageTitleHolder a {
  text-decoration: none;
  transition: all 0.5s;
  font-size: 18px;
  scale: 1.4;
  color: black;
}

#featuresPageTitleHolder a:hover {
  font-weight: bold;
  color: black;
  background: linear-gradient(135deg, #2168ff, #6d9bff);
}

.sectionFeaturePage {
  width: 90%;
  margin: auto;
  overflow-x: auto;
}

.featuresSectionSegment {
  margin: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  max-width: 1200px;
}

.sectionFeaturePage::-webkit-scrollbar {
  display: none;
}

.featuresSectionSegmentGroup {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  animation: scroll 20s infinite linear;
  padding-right: 2rem;
  position: relative;
  left: 100%;
}

.featuresSectionSegmentCard {
  flex: 0 0 10rem;
  height: 15rem;
  width: 15rem;
  padding: 2rem;
  object-fit: cover;
  align-content: center;
  border-radius: 3rem;
  transition: all 0.3s;
}

.featuresSectionSegmentCard:hover {
  scale: 1.1;
}

@keyframes scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

#carouselHolder {
  width: 90%;
  margin: 0 auto;
  overflow: hidden;
  height: 30rem;
  display: flex;
}

.featuresSectionSegment::after {
  content: "";
  position: absolute;
  width: 20rem;
  height: 20rem;
  background: linear-gradient(270deg, #e0eaff, #e0eaff00);
  right: 0;
}

.featuresSectionSegment::before {
  content: "";
  position: absolute;
  width: 20rem;
  height: 20rem;
  background: linear-gradient(90deg, #e0eaff, #e0eaff00);
  left: 0;
  z-index: 1;
}

#carouselHolder .wavesFeaturesPage1 {
  width: 100%;
    height: auto;
    position: absolute;
    top: 65.5rem;
    left: 0;
    z-index: 2;
}

#carouselHolder .wavesFeaturesPage2 {
      width: 100%;
    height: auto;
    position: absolute;
    bottom: -70rem;
    left: 0;
    transform: rotate(180deg);
    z-index: 2;
}
