#dealsTableSection {
  display: flex;
  height: 120rem;
  width: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#tableHolder {
  width: 90%;
  height: 85%;
  max-width: 1400px;
  border: 2px solid #878787;
  border-radius: 1rem;
}

#tableHolderTitleHolder {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 32px 0 32px;
  border-bottom: 1px solid #878787;
}

#tableHolderTitleHolder h2 {
  font-size: 2.5rem;
}

#dealsFAQ {
  text-decoration: none;
  color: black;
}

#dealsFAQ:hover {
  color: #484848;
}

#dealsComparisonHolder {
  height: 1435px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

#dealsNamesHolder {
  display: flex;
  width: 90%;
  margin: auto;
  padding: 1rem 0rem 2rem 0rem;
  border-bottom: 1px solid #878787;
}

.dealsNames {
  display: flex;
  flex-direction: column;
  width: 25%;
}

.dealsNames h3 {
  font-size: 28px;
}

.dealsPrices {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.dealsPrices p {
  font-size: 40px;
  margin: 0px 16px 0 0px;
}

.dealsPrices span {
  width: 9rem;
  height: 50px;
  align-content: center;
}

.tablesDealsPage {
  width: 90%;
  margin: 4rem auto;
  height: fit-content;
  border-collapse: collapse;
}

.tablesDealsPage caption {
  text-align: start;
  font-size: 20px;
  border-bottom: 2px solid black;
  padding-bottom: 8px;
}

.tablesDealsPage tbody {
  border-collapse: collapse;
}

.tablesDealsPage tr {
  border-bottom: 1px solid black;
  background: linear-gradient(135deg, #6d9bff31, #2167ff31);
  transition: all 0.3s;
  display: block;
  padding-left: 16px;
}

.tablesDealsPage tr:hover {
  background: linear-gradient(135deg, #6d9bff, #2167ff);
}

.tablesDealsPage th {
  text-align: start;
  width: 284px;
}

.tablesDealsPage td {
  width: 25%;
}

#dealsPageStartNow {
  margin: 100px 0 -350px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#dealsPageStartNow h2 {
  font-size: 42px;
  width: 42rem;
  text-align: center;
  margin-bottom: 12px;
}

#dealsPageStartNow p {
  margin-bottom: 32px;
  font-size: 20px;
}

#dealsPageStartNow a {
  background: linear-gradient(135deg, #ffa46d, #ff5f50);
  padding: 10px 16px 10px 16px;
  border-radius: 8px;
  border: none;
  font-size: 18px;
  font-family: Outfit;
  color: white;
  transition: all 0.3s;
  text-decoration: none;
}

#dealsPageStartNow a:hover {
  scale: 1.1;
}
